<div class="container">

  <app-game *ngIf='roomPicked, else roomSelect'></app-game>

  <ng-template #roomSelect>
    <h2>This is the room selection screen</h2>
    <button class="testBtn btn" (click)='testRoomPicked()'>Test roomSelect true</button>
    <button class="testBtn btn" (click)='testRoomJoin()'>Test join room Test1</button>

    <div class="rooms-holder">
      <div class="room" *ngFor='let room of rooms'>
        <button class='roomBtn btn' (click)='testRoomClick(room.members, room.roomName)'>{{room.roomName}} <span>players: {{room.members}}</span></button>
      </div>
    </div>
  </ng-template>


</div>


<router-outlet></router-outlet>